$primary-color: #33C3F0;

th, td {
    text-align: center;
    min-width: 50px;
    cursor: pointer;
}


.datetimepicker .minute:hover, .datetimepicker .hour:hover, .datetimepicker .day:hover {
    background: $primary-color;
    color: white;
    cursor: pointer;
}
